* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 234, 217);
}

.header {
  text-align: center;
  padding-top: 100px;
}

.container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.button {
  border-radius: 5px;
  width: 100px;
  background-color: rgb(28, 235, 166);
  color: black;
}

.result {
  text-align: center;
  padding-top: 10px;
  font-size: larger;
}
